{% extends 'core_app/index.html' %} {% block main %}
<div class="about-wrapper">
  <div class="about-section">
    <p class="about-title">About Email Generator</p>
    <div class="about-content">
      <div class="about-grid">
        <div class="about-col">
          <p class="about-column-title">App Details</p>
          <div class="about-content-wrapper">
            <div class="label-wrapper"><p class="label">Developed By</p></div>
            <p class="value">Sanele Gcina Zikhali</p>
          </div>
          <div class="about-content-wrapper">
            <div class="label-wrapper"><p class="label">Version</p></div>
            <p class="value">V 1.0</p>
          </div>
          <div class="about-content-wrapper">
            <div class="label-wrapper"><p class="label">Tech Stack</p></div>
            <p class="value">Django Framework</p>
          </div>
        </div>
        <div class="about-col">
          <p class="about-column-title">Contact Details</p>
          <div class="about-content-wrapper">
            <div class="label-wrapper"><p class="label">Email Address</p></div>
            <p class="value">sanelecarl56@gmail.com</p>
          </div>
          <div class="about-content-wrapper">
            <div class="label-wrapper">
              <p class="label">Email Address 2</p>
            </div>
            <p class="value">carltechnologies.cc@gmail.com</p>
          </div>
          <div class="about-content-wrapper">
            <div class="label-wrapper"><p class="label">Mobile Phone</p></div>
            <p class="value">(+27)76 975 7684</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main %}
